@grey: #CCC;
@dGrey: #999;

//site
#index-content {
	.btn {
		margin-bottom: 15px;
	}
}

@media(min-width:980px) {
	#login-content {
		form {
			width: 500px;
			margin-left: auto;
			margin-right: auto;

		}
	}
}

//Tweeter
#tweeter-view-content {
	.tweet {
		&:nth-child(1) {
			border-top: 1px solid @grey;
		}
		padding-right: 10%;
		border-bottom: 1px solid @grey;
	}
}

//Tweet
#tweet-index-content {
	#tweets {
		.tweet {
			&:nth-child(1) {
				border-top: 1px solid @grey;
			}
			border-bottom: 1px solid @grey;
			a {
				text-decoration: none;
			}
			.re {
				form {
					margin-bottom: 5px;
				}
				.retweeted-by {
					color: @dGrey;
				}
			}
		}	
	}
}

#tweet-new-content {
	form textarea {
		width: 97%;
		height: 100px;
	}
	#word-count-wrapper {
		margin: 5px 0;
	}
}

@media(min-width:980px) {
	#tweet-new-content {
		form {
			width: 500px;
			margin-left: auto;
			margin-right: auto;

		}
	}
}