#index-content .btn {
  margin-bottom: 15px;
}
#tweeter-view-content .tweet {
  padding-right: 10%;
  border-bottom: 1px solid #cccccc;
}
#tweeter-view-content .tweet:nth-child(1) {
  border-top: 1px solid #cccccc;
}
#tweet-index-content #tweets .tweet {
  border-bottom: 1px solid #cccccc;
}
#tweet-index-content #tweets .tweet:nth-child(1) {
  border-top: 1px solid #cccccc;
}
#tweet-index-content #tweets .tweet a {
  text-decoration: none;
}
#tweet-index-content #tweets .tweet .re form {
  margin-bottom: 5px;
}
#tweet-index-content #tweets .tweet .re .retweeted-by {
  color: #999999;
}
#tweet-new-content form textarea {
  width: 97%;
  height: 100px;
}
#tweet-new-content #word-count-wrapper {
  margin: 5px 0;
}
@media (min-width: 980px) {
  #tweet-new-content form {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
}
